.mainLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mainLink:hover {
    color: rgb(190, 190, 190);
}

.mainLink:active {
    color: rgb(73, 73, 73);
}

.menuLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
}